<div class="w-full text-center mb-4 p-4 bg-red-500 text-white">
  <h1 class="text-xl font-bold">Chile va al Mundial?</h1>
  <p class="text-xs">"Nada es imposible, ni una hueá" - Nicolás Massú</p>
</div>

<%= turbo_frame_tag "simulation_results" %>

<!-- Match inputs -->
<div class="bg-white shadow rounded-lg p-4 mb-8">
  <h2 class="font-semibold text-gray-900 mb-4">Ingresa los resultados de los partidos</h2>
  <%= form_with url: simulate_simulations_path, method: :post, class: "space-y-2", id: "simulation-form", 
                data: { controller: "loading",
                       action: "turbo:submit-start->loading#startLoading turbo:submit-end->loading#stopLoading" } do |form| %>
    <% @unplayed_matches.each do |match| %>
      <div class="flex items-center justify-between p-4 bg-gray-50 rounded-lg">
        <div class="flex items-center space-x-4 flex-1">
          <span class="text-right w-28 font-medium <%= match.home_team == @chile ? 'text-red-600' : 'text-gray-700' %>">
            <%= match.home_team.emoji %> <%= match.home_team.name %>
          </span>
          <div class="flex items-center space-x-2">
            <%= form.number_field "results[#{match.id}][home_goals]", 
                    class: "w-16 text-center border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500",
                    value: 0,
                    min: 0,
                    required: true %>
            <span class="text-gray-500">-</span>
            <%= form.number_field "results[#{match.id}][away_goals]", 
                    class: "w-16 text-center border-gray-300 rounded-md shadow-sm focus:ring-indigo-500 focus:border-indigo-500",
                    value: 0,
                    min: 0,
                    required: true %>
          </div>
          <span class="w-28 font-medium <%= match.away_team == @chile ? 'text-red-600' : 'text-gray-700' %>">
            <%= match.away_team.emoji %> <%= match.away_team.name %>
          </span>
        </div>
      </div>
    <% end %>
    
    <div class="text-center text-gray-500 text-sm">Elige tu simulación</div>
    <div class="text-center space-x-4">
      <button type="submit"
            class="relative inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            data-loading-target="button"
            name="simulation_type"
            value="random">
        <span data-loading-target="text">Al azar!</span>
        <div data-loading-target="spinner" class="">
          <svg class="absolute left-0 top-0 right-0 bottom-0 animate-spin h-5 w-5 text-white mx-auto mt-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
        </div>
      </button>
      
      <button type="submit"
            class="relative inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500"
            data-loading-target="button"
            name="simulation_type"
            value="too_good_to_be_true">
        <span data-loading-target="text">Todo nos favorece</span>
        <div data-loading-target="spinner" class="">
          <svg class="absolute left-0 top-0 right-0 bottom-0 animate-spin h-5 w-5 text-white mx-auto mt-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
          </svg>
        </div>
      </button>
    </div>
  <% end %>
</div>
